{{! The big featured header }}
<header id="header">
    <nav class="header-nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}}){{/if}}">

      <div class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        <ul id="taglist" class="taglist">
            <li><a href="{{@blog.url}}">Home</a></li>
            <li><a href="/tag/javascript">javascript</a></li>
            <li><a href="/tag/nodejs">nodejs</a></li>
            <li><a href="/tag/data-visualization">data visualization</a></li>
            <li><a href="/tag/d3">d3</a></li>
            <li><a href="/tag/maps">maps</a></li>
        </ul>
      </div>
    </nav>

</header>