{{! The big featured header }}
<header id="header">
    <nav class="header-nav">
        <div class="blog-title">{{@blog.title}}</div>
    </nav>

    <ul class="taglist">
        {{#foreach all_tags}}
            <li><a href="{{url}}">{{name}}</a></li>
        {{/foreach}}
    </ul>
</header>