<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    {{@blog.description}}
  </div>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content"></div>
</div>

<div class="links">
  <button class="button">Twitter</button>
  <button class="button">Website</button>
  <button class="button">RSS</button>
</div>