<div class="box sidebox about">
  <h4 class="sidebox-title">About</h4>
  
  {{@blog.description}}
</div>

<div class="box sidebox latest-articles">
  <h4 class="sidebox-title">Latest Articles</h4>
</div>

<div class="links">
  <button>Twitter</button>
  <button>Website</button>
  <button>RSS</button>
</div>