<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    {{@blog.description}}
  </div>
</div>

<div class="box sidebox latest-articles">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content"></div>
</div>

<button class="button">RSS</button>

<div class="articles-related">
  <div class="box">
    <h4>Related Article</h4>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>

  <div class="box">
    <h4>Related Article</h4>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
</div>

<button class="button">Twitter</button>
