<div class="box sidebox about">
  About Us
</div>

<div class="box sidebox links">
  <button>Twitter</button>
  <button>Website</button>
  <button>RSS</button>

  <div class="social-message">
    <a class="icon-twitter" href="http://twitter.com/webk1d"></a>For recent updates follow us on <a href="http://twitter.com/webk1d" class="link-twitter">twitter</a>
  </div>
</div>