<div class="box sidebox about">
  {{@blog.description}}
</div>

<div class="box sidebox latest-articles">
  {{#foreach posts}}
    <a href="{{url}}"><div>{{{title}}}</div></a>
  {{/foreach}}
</div>

<div class="links">
  <button>Twitter</button>
  <button>Website</button>
  <button>RSS</button>
</div>