body {
  background: #f5f5f5;
}

#header {
  padding: 0;
  background: #111;
  color: #fff;
  margin-bottom: 2em;
}

#header nav {
  padding: 1em 1em;
}

#header .blog-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

#header ul.taglist {
  background: #ffd00e;
  margin: 0;
  padding: 0 1em;
  list-style: none;
}

#header ul.taglist li {
  margin: 0;
  padding: .2em .5em;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #111;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
}
#header ul.taglist li:hover {
  background: #111;
  color: #fff;
  cursor: pointer;
}

#content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1em;
}

#articles {
  width: 75%;
  margin-right: 5%;
  float: left;
}

#articles .post {
  width: 100%;
  margin: 0;
  max-width: none;
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 2em;
}

#articles .post h2 {
  color: #4A4A4A;
}

#articles .post:hover h2 {
  color: #111;
}

#articles .post a, 
#articles .post a:visited{
  text-decoration: none;
}

#sidebar {
  width: 20%;
  float: left;
}

.box {
  background: #fff;
  padding: 1em;
  box-shadow: 0 1px 2px rgba(50,50,50,0.08);
}

.sidebox {
  margin-bottom: 1em;
}

.box.is-link:hover {
  box-shadow: 0 2px 4px rgba(50,50,50,0.15);
  cursor: pointer;
}